.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f4f4f4;
  height: 100px;
  padding-left: 30px;
}

.nav-logo {
  margin-right: auto;
}

.logo {
  width: 70px;
  justify-self: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.nav-container .nav-links {
  text-decoration: none;
  margin-right: 20px;
}

.nav-container li {
  list-style: none;
  color: #0f3d70;
  display: inline;
}

.nav-container li:hover {
  border-bottom: 3px solid #ed780f;
}

.current {
  border-bottom: 3px solid #ed780f;
}
